.triple-box-container {
  display: flex;
  gap: 55px;
  margin-top: 100px;

  .box {
    width: 55px;
    height: 55px;

    &.g {
      background: #278d01;
    }

    &.w {
      background: #ffffff;
    }
  }
}

dt:hover:has(.l) {
  .l::before {
    content: "";
    display: block;
    position: absolute;
    background: url(../assets/arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 35px;
    height: 35px;
    opacity: 1;
    // border: 1px dashed red;
  }
}

strong {
  color: #278d01;
  transition: 0.3s ease-in-out;
  font-weight: 700 !important;

  &.l::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    background: url(../assets/arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(2);
    width: 0px;
    height: 0px;
    transition: 0.1s ease-in-out;
    rotate: -45deg;
    opacity: 0;
    animation: moves 10s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
  }
}

ol,
ul {
  margin: 25px 10%;
  font-weight: 700;

  li {
    margin: 10px;
    letter-spacing: 1px;
  }
}

a {
  color: #fff;
}

@keyframes moves {
  0% {
    transform: translate(0%, -50%);
  }
  15% {
    transform: translate(8%, -55%);
  }
  30% {
    transform: translate(12%, -45%);
  }
  45% {
    transform: translate(5%, -58%);
  }
  60% {
    transform: translate(-8%, -48%);
  }
  75% {
    transform: translate(-5%, -55%);
  }
  90% {
    transform: translate(6%, -52%);
  }
  100% {
    transform: translate(0%, -50%);
  }
}
